.recipeEditor {
  border-top: 2px solid var(--cf-blue);
  padding-top: 1em;

  color: inherit;
  flex: 1 0 10em;
  font-family: inherit;
  font-size: inherit;
  width: 100%;

  @media print {
    display: none;
  }

  :global(.cm-editor) {
    &:global(.cm-focused) {
      outline-style: none;
    }
  }

  transition: opacity 250ms;

  &.playing {
    opacity: 0.6;
    .resultNameGutter :global(.cm-gutterElement) {
      opacity: 0.6;
    }
  }
}

.resultNameGutter :global(.cm-gutterElement) {
  font-family: var(--font-family);
  min-width: 6em;
  padding-right: 0.5em;
  text-align: right;

  transition: opacity 250ms;

  @media (max-width: 575.98px) {
    display: none;
  }

  span {
    cursor: pointer;

    &.noValidResultName {
      color: #d88;
    }
  }
}
