.RecipeEditor {
	display: flex;
	flex: 1 0 0px;
	flex-direction: column;
	padding: 0 5em;
}

.RecipeEditor textarea {
	flex: 1 0 0px;
	font-family: inherit;
	width: 30em;
	margin: 0 auto;
	padding: .5em;
}

.RecipeEditor .RecipeTable {
	margin: 2em auto;
}
