.RecipeEditor {
	display: flex;
	flex: 1 0 0px;
	flex-direction: column;
	margin: 3rem;
}

.RecipeEditor textarea {
	flex: 1 0 0px;
	font-family: inherit;
	width: 30em;
	margin: 0 auto;
	padding: .5em;
}

.RecipeEditor .RecipeDiagram {
	margin: 2em auto 0;
}
