.RecipeList {
	border-top: thin dotted #ccc;
	flex: 1 0 0px;
	margin: .6em;
	margin-left: 0;
	padding: 0;
}

.RecipeList li {
	border-bottom: thin dotted #ccc;
	font-size: 1.5em;
	list-style-type: none;
}

.RecipeList a {
	color: black;
	display: inline-block;
	padding: .6rem;
	text-decoration: none;
	width: 100%;
}

.RecipeList-name {
	text-decoration: underline;
}

.RecipeList p {
	color: #444;
	flex: 1 0 0px;
	font-size: 1rem;
	text-decoration: none;
}
