main {
  color-scheme: light dark;

  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;

  @media screen {
    color: #242424;
    min-height: 100vh;
  }
}

.mainHeader {
  border-bottom: 2px solid var(--cf-red);
  font-size: 1.5em;
  text-align: left;

  @media print {
    display: none;
  }
}
