@import "@fontsource/solway/400.css";
@import "@fontsource/solway/500.css";
@import "@fontsource/solway/700.css";

* {
  box-sizing: border-box;
}

:root {
  font-family: "Solway", "Atkinson Hyperlegible", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
body {
  margin: 0;
  padding: 0;
}
