@import "@fontsource/solway/400.css";
@import "@fontsource/solway/500.css";
@import "@fontsource/solway/700.css";

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Solway";
  font-family: var(--font-family), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --cf-red: oklch(86.72% 0.0455 18.06);
  --cf-blue: oklch(86.72% 0.02 208.63);

  @media screen {
    background: url(./assets/paper001-ambientcg.jpg);
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
body {
  margin: 0;
  padding: 0;
}
