.recipePreview {
  align-self: center;
  margin-top: 1em;

  table {
    border-collapse: collapse;
    border: none;

    td {
      border: 1px solid #bbb;
      padding: 10px;
      text-align: left;
    }

    .recipeSource td {
      border: none;
      font-size: 0.1em;
      text-align: center;
    }
  }
}
